 @charset "utf-8";
/* CSS Document */

/*------------------------------------------------------------------
[Table of contents]
0. Fonts
1. Clearfix
2. Preloader
3. Typography
4. Headings
5. Main Nav
6. Main Content
7. Column Grid
8. Content Elements
9. Icons
10. Image Hover
11. Compatibility Rules
12. Footer
13. Lists
14. Google Maps
-------------------------------------------------------------------*/


/* =0. Fonts
--------------------------------------------------------------------------------------------------------*/
@font-face {
 font-family: 'fontello';
 src: url('../fonts/fontello.eot?3837060');
 src: url('../fonts/fontello.eot?3837060#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?3837060') format('woff'), url('../fonts/fontello.ttf?3837060') format('truetype'), url('../fonts/fontello.svg?3837060#fontello') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windows. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?43886684#fontello') format('svg');
  }
}
*/
/* End Fonts
--------------------------------------------------------------------------------------------------------*/


/* =1. Clearfix
--------------------------------------------------------------------------------------------------------*/
.clear { clear: both; }
.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }/* ----- clear fix for floats ----- */
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }/* hides clearfix from IE-mac */
.clearfix { display:block; }/* end hide from IE-mac */
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { margin:auto; display:block; }
.alignnone { clear:both; font-size:0; line-height:0; margin:0; padding:0; border:0; height:0; width:0; }
.centered { text-align:center; }
.hidden { display: none; visibility: hidden; }
/* Preventing font-rendering switches during CSS transitions inside Flexslider for Safari and Chrome under MacOSX */
*, *:before, *:after { -webkit-font-smoothing: antialiased; }
.flexslider { -webkit-transform: translateZ(0px); }
/* End Clearfix
--------------------------------------------------------------------------------------------------------*/


/* =2. Preloader
--------------------------------------------------------------------------------------------------------*/
#preloader { position:fixed; top:0; left:0; right:0; bottom:0; background:#000; z-index:9999; }
#status { z-index:28; position:absolute; color:#555 !important; top:50%; height:220px; width:100%; margin-top:-115px; }
/* horizontal centering */
.parent { width:230px; margin:0px auto; position:relative; height:220px; z-index:11 }
.child { text-align:center; }
/* vertical centering */
.parent { display: table }
.child { display: table-cell; vertical-align: middle; padding:0; }
.child span { text-transform:uppercase; }
/* End Preloader
--------------------------------------------------------------------------------------------------------*/


/* =3. Typography
--------------------------------------------------------------------------------------------------------*/
html, body, #wrap { height: 100%; }
body > #wrap { height: auto; min-height: 100%; }
.content-wrapper { padding-bottom: 91px; }
html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; -webkit-font-smoothing: antialiased; height:100%; -webkit-text-size-adjust: 100%; }
body { font-size: 16px; font-family: 'Raleway', Georgia, "Times New Roman", Times, serif; color:#555; background:#1D1D1D; height:100% }
strong { font-weight:600; }
a, a > * { -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }
p { line-height:1.5; padding:0 0px 13px 0px; }
.centered p { padding:5px 0 5px 0 }
a { text-decoration:none; }
p a { color:#555; text-decoration:underline; }
p a:hover { color:#2b2b2b; }
a p { color:#555; }
p.small { font-size:11px; text-transform:uppercase; font-weight:700; font-family:'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; color:#555; padding:0 0 22px 0; letter-spacing:2px; }
a p.small { color:#2b2b2b }
.col2-3.half p.small { padding:0 0 17px 0; }
.col1-3 p.small { padding:0 0 12px 0 !important; }
#preloader p.small { color:#555 !important; padding:0 !important }
code { font:13px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-style:normal; line-height:1.5; display:block; }
pre { padding:13px 40px 0 40px; }
span.arrow { font:22px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; float:right; padding-bottom:13px; padding-right:15px; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; margin-top:-4px; display:inline-block; opacity:0 }
.background span.arrow {z-index:2; position:relative; color:#fff }
.back-button span.arrow { opacity:1 !important }
a span.arrow { color:#555; }
a:hover .bottom span.arrow { padding-right:0; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; opacity:1 }
blockquote { padding:0px 0px 2px 35px; color:#555; font-size:18px; font-style:italic; }
blockquote:before { content:"“"; float:left; display:block; margin-left:-44px; font-family:Georgia, "Times New Roman", Times, serif; font-size:72px; margin-top:-3px; font-weight:400; color:#2b2b2b }
blockquote p {  font-family:Georgia, "Times New Roman", Times, serif; padding-bottom:8px }
blockquote p.small { font-style:normal; color:#999; letter-spacing:0; font-weight:600; text-transform:none; font-size:13px }
em { font-style:italic; font-family:'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; color:#777; }
code { font:13px "Courier New", Courier, monospace; font-style:normal; line-height:1.5; display:block; padding-top:4px; }
pre { padding:0 30px 25px 30px; border:1px dotted #3e3e3e; margin-top:10px; margin-bottom:10px; display:inline-block }
.uppercase {text-transform:uppercase !important }
/* End Typography
--------------------------------------------------------------------------------------------------------*/


/* =4. Headings
--------------------------------------------------------------------------------------------------------*/
h1#logo { display:block; position:relative; float:left }
h1#logo a { display:block; background:url(../images/bg-logo.png) center no-repeat; background-size:60px 52px; width:60px; /*try to keep it below 52px*/ height:52px; text-indent:-9999px; }
.tagline { float:left; font-family:"Open Sans", Arial, Helvetica, sans-serif; font-size:12px; font-weight:400; padding:0 0 0 16px; margin:0px auto; position:relative; display:table; height:52px; margin-top:-1px; color:#888; font-style:italic }
.tagline span { vertical-align:middle; display:table-cell }
.hentry h1, h2, h3, h4, h5 { line-height:1.3; color:#2b2b2b; display:block; position:relative; padding-bottom:13px; }
h2 { font-size:48px; font-weight:300; line-height:60px; letter-spacing:-2px; margin-top:-5px; }
h2 strong { font-weight:600; letter-spacing:-1px; }
h3 { font-size:24px; font-weight:400; line-height:31px; }
h4 { font-size:20px; font-weight:400; line-height:27px; }
h5 { font-size:18px; font-weight:400; }
.col2-3.white h3, .col2-3.white-bottom h3, .col2-3.grey h3 { font-size:30px; line-height:40px; }
a h3 span { text-decoration:none !important }
/* End Headings
--------------------------------------------------------------------------------------------------------*/


/* =5. Main Nav
--------------------------------------------------------------------------------------------------------*/
#menu-button { float:right; font-size:14px; font-family:"Open Sans", Arial, Helvetica, sans-serif; text-transform:uppercase; display:table; height:52px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.lt-ie10 #menu-button { position:relative; float:right; right:auto }
#menu-button .centralizer { display: table-cell; vertical-align: middle; }
#menu-button .centralizer .cursor { display:block; height:auto; cursor:pointer; }
#nav-button { display:inline-block; width:16px; margin:0; margin-left:5px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); vertical-align:middle }
.nav-bar { background-color:#555; border-radius:1px; display:block; width:16px; height:2px; margin:0px auto 2px; }
#menu-close-button { cursor: pointer; padding: 6px; text-align: center; position: absolute; top: 31px; right: 36px; font-size: 26px; color: #8E8E8E; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
#main-nav { background-color: #1D1D1D; position: absolute; top: 0; right: 0; padding: 34px 44px 20px 44px; width: 200px; }
#main-nav a { text-decoration: none; color: #8E8E8E; font-size: 14px; font-family: "Open Sans", Arial, Helvetica, sans-serif; }
#main-nav > ul a { text-transform: uppercase; }
#main-nav > ul .active > a, #main-nav > ul a.active, #main-nav > .additional-links .active > a, #main-nav > .additional-links a.active, #main-nav li a:hover, #options li a.current, #options li a.selected { color: #fff !important; }
#main-nav > ul li { padding: 7px 0; }
#main-nav > ul > li > .sub-nav { padding: 9px 0 3px 15px; }
#main-nav > ul > li > .sub-nav > li { padding: 4px 0px; }
#main-nav > ul > li > .sub-nav > li:last-child { padding-bottom: 0px; }
#main-nav > ul > li > .sub-nav > li > a { font-size: 12px; }
.additional-links { padding: 25px 0; }
.additional-links > ul > li { padding: 0 0 14px; }
.additional-links > ul > li:last-child { padding: 0; }
.social-links { padding: 10px 0; }
.social-list > li { float: left; margin: 0 15px 0 0; }
.social-list > li > a:before { content: ""; font-family: fontello; font-size: 16px; }
#main-nav .social-list li a:before { padding:3px; }
#main-nav .social-list li { margin-top:-3px; margin-right:9px; }
#main-nav .social-list { margin-left:-3px; }
.social-list > li > a.facebook:before { content: '\e800'; }
.social-list > li > a.dribbble:before { content: '\e801'; }
.social-list > li > a.behance:before { content: '\e802'; }
.social-list > li > a.git:before { content: '\e803'; }
.social-list > li > a.gplus:before { content: '\e804'; }
.social-list > li > a.xing:before { content: '\e805'; }
.social-list > li > a.instagram:before { content: '\e806'; }
.social-list > li > a.twitter:before { content: '\e807'; }
.social-list > li > a.youtube:before { content: '\e808'; }
.social-list > li > a.slack:before { content: '\e809'; }
.social-list > li > a.pinterest:before { content: '\e80a'; }
.social-list > li > a.tumblr:before { content: '\e80b'; }
.social-list > li > a.soundcloud:before { content: '\e80c'; }
.social-list > li > a.skype:before { content: '\e80d'; }
.social-list > li > a.linkedin:before { content: '\e80e'; }
.social-list > li > a.vimeo:before { content: '\e80f'; }
.social-list > li > a.flickr:before { content: '\e810'; }
.social-list > li > a.email:before { content: '\e811'; }
/* End Main Nav
--------------------------------------------------------------------------------------------------------*/


/* =6. Main Content
--------------------------------------------------------------------------------------------------------*/
#header { position:relative; z-index:155; width:100%; min-height:100px; padding:28px 45px;/* border-bottom:1px solid #d8d8d8;*/ -webkit-transform: translateZ(0); }
#content { width:100%; position:relative; z-index:55; height:auto; }
.container { padding:0px; width:1280px; position:relative; margin:0 auto;/* padding-top:23px;*/ }
#background-color { background:#f5f5f5; height:100%; width:100%; position:fixed; z-index:1; -webkit-overflow-scrolling: touch; top:0; left:0 }
.oldie #background-color { display:none }
#header, #content { background:#f5f5f5; }
.pushed-left #content, .pushed-left #header, .pushed-left #footer, .pushed-left #background-color { -webkit-transform: translate3d(-200px, 0px, 0px); transform: translate3d(-200px, 0px, 0px); }
.pushed-left-alt #content, .pushed-left-alt #header, .pushed-left-alt #footer, .pushed-left-alt #background-color, .no-csstransforms3d .pushed-left #content, .no-csstransforms3d .pushed-left #header, .no-csstransforms3d .pushed-left #footer { -webkit-transform: translateX(-200px); -ms-transform: translateX(-200px); transform: translateX(-200px); }
#content, #header, #footer, .logo-wrapper, #background-color { -webkit-transition: -webkit-transform 0.33s cubic-bezier(0.33, 0, 0.2, 1) 0s; transition: transform 0.33s cubic-bezier(0.33, 0, 0.2, 1) 0s; }
/* =End Main Content
--------------------------------------------------------------------------------------------------------*/


/* =7. Column Grid
--------------------------------------------------------------------------------------------------------*/
.col3-3 { width:940px; height:auto; margin:10px; float:left; position:relative }
.col4-3 { width:1260px; height:auto; margin:10px; position:relative }
.col1-3 { width:300px; height:280px; margin:10px; float:left; position:relative }
.col2-3 { width:620px; height:580px; margin:10px; float:left; position:relative }
.col1-3.auto, .col2-3.auto, .col3-3.auto { height:auto; }
.col2-3.half { height:280px; }
.col3-3.half { height:280px; }
.col1-3.double { height:580px; }
.col1-3.grey { padding:30px 35px 17px 35px; background:#fff; width:300px; }
.col2-3.grey, .col3-3.grey, .col4-3.grey { padding:45px 60px 44px 50px; background:#fff; }
.col1-3.white { padding:30px 35px 17px 35px; background:#fff }
.col2-3.white, .col3-3.white, .col4-3.white { padding:45px 50px 34px 50px; background:#fff; }
.col1-3.white-bottom { padding:30px 35px 19px 35px; background:#fff; z-index:33; }
.col2-3.white-bottom { padding:45px 50px 34px 50px; background:#fff; }
.element .col1-3, .element .col2-3, .element .col3-3 { margin:0 }
.bottom { position:absolute; bottom:30px; padding:0 50px; left:0; width:100% }
.col1-3 .bottom { padding:3px 35px; bottom:13px; }
a .bottom p { width:190px; }
.back-button { height:85px; }

.overlay { background:rgba(0,0,0,.7); position:absolute; top:0; left:0; width:100%; height:100%; z-index:1 }
.background01 {background:url(../images/image01.jpg) no-repeat; background-size:100% 100%; }
.background02 {background:url(../images/image08.jpg) no-repeat; background-size:300px 280px; }
.background03 {background:url(../images/image06.jpg) no-repeat; background-size:300px 280px; }
.background04 {background:url(../images/paris.jpg) no-repeat; background-size:300px 280px; }
.background05 {background:url(../images/image15.jpg) no-repeat; background-size:300px 280px; }
.background06 {background:url(../images/image03.jpg) no-repeat; background-size:300px 280px; }
.background07 {background:url(../images/image16.jpg) no-repeat; background-size:620px 580px; }
.background08 {background:url(../images/image07.jpg) no-repeat; background-size:300px 280px; }
.col2-3.background { padding:69px 65px; }
.col1-3.background { padding:30px 35px 17px 35px; }
.background h2 {color:#fff; z-index:2 }
.background p.small, .background p, .background h3, .background h4, .background h5 {color:#fff; z-index:2; display:block; position:relative }
/* =End Column Grid
--------------------------------------------------------------------------------------------------------*/


/* =8. Content Elements
--------------------------------------------------------------------------------------------------------*/
.overflow, .element { overflow:hidden; }
.break { display:block; position:relative; height:20px; width:100%; }
.whole-tile { position:absolute; left:0; top:0; width:100%; height:100%; display:block; z-index:55; padding:30px 35px; }
.element.hybrid .images, .element.hybrid .service-item { position: absolute; top: 0; right: -0%; z-index: 22; -webkit-transition: right ease-in-out 0.33s; transition: right ease-in-out 0.33s; }
.element.hybrid:hover .images, .element.hybrid:hover .service-item { right: -100%; -webkit-transition: right ease-in-out 0.33s; transition: right ease-in-out 0.33s; }
.element > .elem-content { padding:30px 35px; background:#fff; width: 300px; height:100%; }
.ct-part { padding:25px 0px 0px 0px; border-top:1px solid #d8d8d8; height: auto; margin-top:9px; }
.ft-part { padding:29px 0px 31px 0px; border-top:1px solid #d8d8d8; height: auto; margin-top:10px; }
.bottom .ft-part { padding:26px 0 14px }
.ct-part > p.indented { padding-left:20px; }
.ct-part sub { display: inline-block; font-size: 12px; padding-left: 10px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; }
.centered .ft-part .social-list { display:inline-block; }
.bottom .social-list { padding-bottom:19px; }
.element .social-list > li { margin: 0 11px 0 1px; }
.element .social-list > li > i { color: #555; font-size: 12px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; padding-right: 4px; }
.element .social-list > li > a { color: #555; position: relative; top: 1px; }
.element .social-list > li > a:before { font-size: 18px; display:block; margin-top:-2px; }
.element .tag { text-transform: none; display: inline-block; padding:0 8px 0 0; color:#fff; }
.element .tag:hover { color:rgba(255,255,255,0.5); }
.element .tag > .tag-count { text-transform: none; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 12px; color:rgba(255,255,255,0.5) }

.description {position:absolute; bottom:0; left:0; background:#fff; width:300px; padding:14px 35px; }
.description h4, h4.descriptive { font-size:18px; font-weight:700; padding-bottom:0px; text-transform:uppercase }
.description p.small, .hybrid p.small, p.small.descriptive { color:#555; letter-spacing:0; font-size:13px; font-weight:400; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; text-transform:none; padding:0 0 2px !important }
p.small.descriptive { padding:0 0 17px !important }
.description p.small span, p.small.descriptive span { font-size:14px; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; text-transform:none; color:#888; padding-right:5px; font-weight:400 }

.background p.small.descriptive {color:rgba(255,255,255,1) }
.background p.small.descriptive span {color:rgba(255,255,255,0.5) }

.arrow-wrapper {position:relative; padding:8px 0 0 0; margin-bottom:0px; }
.arrow-wrapper span.arrow { opacity:1; font-size:22px; padding:0px; line-height:1; margin-top:-2px; }
.arrow-wrapper p {float:left; padding:0px; }

.description {margin-bottom:-36px; -webkit-transition: all 0.2s ease-in-out 0s; transition: all 0.2s ease-in-out 0s;}
.element:hover .description {margin-bottom:0px; -webkit-transition: all 0.2s ease-in-out 0s; transition: all 0.2s ease-in-out 0s; }
/* =End Content Elements
--------------------------------------------------------------------------------------------------------*/


/* =9. Icons
--------------------------------------------------------------------------------------------------------*/
.icons { position:relative; height:48px; width:48px; /*float:left;*/ margin-bottom:16px; margin-top:5px; border:1px solid #555; border-radius:51%; display:block; z-index:2 }
.background .icons { border:1px solid #fff; }
.icon-holder { position:relative; float:left; height:48px; width:48px; border:1px solid #555; border-radius:51%; margin-top:5px; }
.col1-3 .icon-holder {  margin-right:20px; }
.centered .icons, .centered .icon-holder { float:none; display:inline-block; margin-right:0px; }
.map { background:url(../images/icons-white/bg-map.png) no-repeat center left; background-size:48px 48px; }
.winner { background:url(../images/icons-white/bg-winner.png) no-repeat center; background-size:48px 48px; }
.time { background:url(../images/icons-white/bg-time.png) no-repeat center; background-size:48px 48px; }
.pig { background:url(../images/icons-white/bg-pig.png) no-repeat center; background-size:48px 48px; }
.adjust { background:url(../images/icons-white/bg-adjust.png) no-repeat center; background-size:48px 48px; }
.team { background:url(../images/icons-white/bg-team.png) no-repeat center; background-size:48px 48px; }
.works { background:url(../images/icons-white/bg-works.png) no-repeat center; background-size:48px 48px; }
.chat { background:url(../images/icons-white/bg-chat.png) no-repeat center; background-size:48px 48px; }
.notes { background:url(../images/icons-white/bg-notes.png) no-repeat center; background-size:48px 48px; }
.camera { background:url(../images/icons-white/bg-camera.png) no-repeat center; background-size:48px 48px; }
.illustration { background:url(../images/icons-white/bg-illustration.png) no-repeat center; background-size:48px 48px; }
.social { background:url(../images/icons-white/bg-social.png) no-repeat center; background-size:48px 48px; }
.vector { background:url(../images/icons-white/bg-vector.png) no-repeat center; background-size:48px 48px; }
.commerce { background:url(../images/icons-white/bg-commerce.png) no-repeat center; background-size:48px 48px; }
.search { background:url(../images/icons-white/bg-search.png) no-repeat center; background-size:48px 48px; }
.like { background:url(../images/icons-white/bg-like.png) center no-repeat; background-size:48px 48px; }
.share { background:url(../images/icons-white/bg-share.png) center no-repeat; background-size:48px 48px; }
.document { background:url(../images/icons-white/bg-document.png) center no-repeat; background-size:48px 48px; }
.apple { background:url(../images/icons-white/bg-apple.png) center no-repeat; background-size:48px 48px; }
.balance { background:url(../images/icons-white/bg-balance.png) center no-repeat; background-size:48px 48px; }
.beaker { background:url(../images/icons-white/bg-beaker.png) center no-repeat; background-size:48px 48px; }
.beer { background:url(../images/icons-white/bg-beer.png) center no-repeat; background-size:48px 48px; }
.books { background:url(../images/icons-white/bg-books.png) center no-repeat; background-size:48px 48px; }
.box { background:url(../images/icons-white/bg-box.png) center no-repeat; background-size:48px 48px; }
.cake { background:url(../images/icons-white/bg-cake.png) center no-repeat; background-size:48px 48px; }
.calculator { background:url(../images/icons-white/bg-calculator.png) center no-repeat; background-size:48px 48px; }
.cd { background:url(../images/icons-white/bg-cd.png) center no-repeat; background-size:48px 48px; }
.champagne { background:url(../images/icons-white/bg-champagne.png) center no-repeat; background-size:48px 48px; }
.chart { background:url(../images/icons-white/bg-chart.png) center no-repeat; background-size:48px 48px; }
.cheese { background:url(../images/icons-white/bg-cheese.png) center no-repeat; background-size:48px 48px; }
.court { background:url(../images/icons-white/bg-court.png) center no-repeat; background-size:48px 48px; }
.delivery { background:url(../images/icons-white/bg-delivery.png) center no-repeat; background-size:48px 48px; }
.dvd { background:url(../images/icons-white/bg-dvd.png) center no-repeat; background-size:48px 48px; }
.eco { background:url(../images/icons-white/bg-eco.png) center no-repeat; background-size:48px 48px; }
.film { background:url(../images/icons-white/bg-film.png) center no-repeat; background-size:48px 48px; }
.grape { background:url(../images/icons-white/bg-grape.png) center no-repeat; background-size:48px 48px; }
.hot { background:url(../images/icons-white/bg-hot.png) center no-repeat; background-size:48px 48px; }
.house { background:url(../images/icons-white/bg-house.png) center no-repeat; background-size:48px 48px; }
.icecream { background:url(../images/icons-white/bg-icecream.png) center no-repeat; background-size:48px 48px; }
.joystick { background:url(../images/icons-white/bg-joystick.png) center no-repeat; background-size:48px 48px; }
.keynote { background:url(../images/icons-white/bg-keynote.png) center no-repeat; background-size:48px 48px; }
.link { background:url(../images/icons-white/bg-link.png) center no-repeat; background-size:48px 48px; }
.magic { background:url(../images/icons-white/bg-magic.png) center no-repeat; background-size:48px 48px; }
.mail { background:url(../images/icons-white/bg-mail.png) center no-repeat; background-size:48px 48px; }
.microphone { background:url(../images/icons-white/bg-microphone.png) center no-repeat; background-size:48px 48px; }
.network { background:url(../images/icons-white/bg-network.png) center no-repeat; background-size:48px 48px; }
.palette { background:url(../images/icons-white/bg-palette.png) center no-repeat; background-size:48px 48px; }
.plaster { background:url(../images/icons-white/bg-plaster.png) center no-repeat; background-size:48px 48px; }
.player { background:url(../images/icons-white/bg-player.png) center no-repeat; background-size:48px 48px; }
.polaroid { background:url(../images/icons-white/bg-polaroid.png) center no-repeat; background-size:48px 48px; }
.printer { background:url(../images/icons-white/bg-printer.png) center no-repeat; background-size:48px 48px; }
.pulse { background:url(../images/icons-white/bg-pulse.png) center no-repeat; background-size:48px 48px; }
.quote { background:url(../images/icons-white/bg-quote.png) center no-repeat; background-size:48px 48px; }
.radio { background:url(../images/icons-white/bg-radio.png) center no-repeat; background-size:48px 48px; }
.recorder { background:url(../images/icons-white/bg-recorder.png) center no-repeat; background-size:48px 48px; }
.scissors { background:url(../images/icons-white/bg-scissors.png) center no-repeat; background-size:48px 48px; }
.select { background:url(../images/icons-white/bg-select.png) center no-repeat; background-size:48px 48px; }
.serving { background:url(../images/icons-white/bg-serving.png) center no-repeat; background-size:48px 48px; }
.share { background:url(../images/icons-white/bg-share.png) center no-repeat; background-size:48px 48px; }
.shop { background:url(../images/icons-white/bg-shop.png) center no-repeat; background-size:48px 48px; }
.shopping { background:url(../images/icons-white/bg-shopping.png) center no-repeat; background-size:48px 48px; }
.smartphone { background:url(../images/icons-white/bg-smartphone.png) center no-repeat; background-size:48px 48px; }
.sofa { background:url(../images/icons-white/bg-sofa.png) center no-repeat; background-size:48px 48px; }
.syringe { background:url(../images/icons-white/bg-syringe.png) center no-repeat; background-size:48px 48px; }
.tape { background:url(../images/icons-white/bg-tape.png) center no-repeat; background-size:48px 48px; }
.target { background:url(../images/icons-white/bg-target.png) center no-repeat; background-size:48px 48px; }
.television { background:url(../images/icons-white/bg-television.png) center no-repeat; background-size:48px 48px; }
.video { background:url(../images/icons-white/bg-video.png) center no-repeat; background-size:48px 48px; }
.walkman { background:url(../images/icons-white/bg-walkman.png) center no-repeat; background-size:48px 48px; }
.zoom { background:url(../images/icons-white/bg-zoom.png) center no-repeat; background-size:48px 48px; }
.tags { background:url(../images/icons-white/bg-tags.png) center no-repeat; background-size:48px 48px; }
/* End Icons
--------------------------------------------------------------------------------------------------------*/


/* =10. Image Hover
--------------------------------------------------------------------------------------------------------*/
.images { display:block; position:relative; background:#000; }
.images img { width:100%; display: block; max-width: 100% !important; z-index:9 }
.images.dark img { opacity:0.3; background:#000; }
img { box-shadow: #000 0 0 0 }
.videos { width:940px; height:538px; }
/* End Image Hover
--------------------------------------------------------------------------------------------------------*/


/* =11. Compatibility Rules
--------------------------------------------------------------------------------------------------------*/
.lt-ie9 .pushed-left #content, .lt-ie9 .pushed-left #header, .lt-ie9 .pushed-left #footer, .lt-ie9 .pushed-left #background-color { position: relative; margin-left: -200px; }
.lt-ie9 .pushed-left .logo-wrapper, .lt-ie9 .pushed-left #footer .alignleft { position: relative; margin-left: 200px; }
.lt-ie9 #header { min-width: 960px; padding-left: 10px; padding-right: 10px; }
.lt-ie9 body, .lt-ie9 .content-wrapper { min-width: 960px; }
.lt-ie9 .pushed-left #main-nav { z-index: 200; }
/* =End Compatibility Rules
--------------------------------------------------------------------------------------------------------*/


/* =12. Footer
--------------------------------------------------------------------------------------------------------*/
#footer { background:#000; min-height:91px; margin:0px; padding:28px 45px; width:100%; z-index:55; position:relative; webkit-transform: translateZ(0); -webkit-transform: translate3d(0, 0, 0); }
#footer { margin-top: -91px; }
footer { z-index:1000 !important; }
footer p, footer p a { color:#888; line-height:32px; font-family:'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-style:italic; font-size:13px; padding:0; border:0; text-decoration:none }
footer p a:hover { color:#555; }
span.padding { padding:0 3px; }
footer .social-list { float:left; margin-left:20px; background:#e9e9e9; padding-left:15px; }
footer .social-list li a { text-decoration: none; color: #8E8E8E; line-height:32px; }
/* End Footer
--------------------------------------------------------------------------------------------------------*/


/* =13. Lists
--------------------------------------------------------------------------------------------------------*/
ul.unordered-list, .hentry ul { list-style: circle; line-height:1.5; padding:0px 0px 13px 30px; text-align:left !important; font-size: 16px; font-family: 'Raleway', Georgia, "Times New Roman", Times, serif; }
ol { list-style: decimal; line-height:1.5; padding:0px 0px 13px 30px; font-size: 16px; font-family: 'Raleway', Georgia, "Times New Roman", Times, serif; }
.child ul.unordered-list, .child .hentry ul, .child ol { padding:10px 30px 0 50px; }
ul.unordered-list li a, .hentry ul li a, ol li a { color:#555; }
ul.unordered-list li a:hover, .hentry ul li a:hover, ol li a:hover { color:#2b2b2b; }

.background ul.unordered-list, .background ol, .background ul.unordered-list li a {color:#fff; z-index:2; position:relative }
.background ul.unordered-list li a:hover { color:rgba(255,255,255,0.5); }
/* =End Lists
--------------------------------------------------------------------------------------------------------*/


/* =14. Googlemaps
--------------------------------------------------------------------------------------------------------*/
#map { width:620px; height:395px; margin:0; border:0 }
#map:before, #map:after { background: none; content: ''; left: 0; position: absolute; top: 0; width: 100%; }
#map:after { bottom: 0; top: auto; }
/* End Googlemaps
--------------------------------------------------------------------------------------------------------*/